body {
  background-image: url('./components/images/arcade3.png');
  background-size: cover;
  background-color: #2980f3;
}

.box {
  display: inline-block;
  border: 1px solid rgb(16,99,181);
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: black;
}

.on {
  background-color: rgb(224, 221, 19);
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 15px  rgb(224, 221, 19);
  margin-top: 20px;
}


h1,
h2,
h3,
h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.about {
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  color: white;
}

.rules {
  width: 40%;
  border: rgb(120,69,128) 5px solid;
  box-shadow: 0px 0px 5px  rgb(224, 221, 19);
  border-radius: 10px;
}

.information {
  width: 55%;
  border: rgb(120,69,128) 5px solid;
  box-shadow: 0px 0px 5px rgb(224, 221, 19);
  border-radius: 10px;
  padding: 0 10px;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
}