body {
  background-image: url('./components/images/arcade3.png');
  background-size: cover;
  background-color: #2980f3;
}

.box {
  display: inline-block;
  border: 1px solid rgb(16,99,181);
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(64,145,214);
  opacity: 0.7;
}

.on {
  background-color: rgb(224, 221, 19);
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 15px  rgb(224, 221, 19);
  margin-top: 20px;
}


h1,
h2,
h3,
h4 {

  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

p,
ul {
  margin: 25px;
  padding: 3px;
}

.drop{
  text-decoration: none;
  padding: 5px;
  margin-top: 5px;
  background-color: white;
}
.drop:hover{
  background-color: rgb(235, 243, 129);
}



.about {
  padding: 5px;
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  color: white;
}

.information {
  background-color: rgb(64,145,214);
  opacity: 0.8;
  width: 40%;
  border: rgb(120,69,128) 5px solid;
  box-shadow: 0px 0px 15px  rgb(224, 221, 19);
  border-radius: 100px 10px 10px 100px;
}

.rules {
  background-color: rgb(64,145,214);
  opacity: 0.8;
  width: 55%;
  border: rgb(120,69,128) 5px solid;
  box-shadow: 0px 0px 15px rgb(224, 221, 19);
  border-radius: 10px 100px 100px 10px;
  padding: 0 10px;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
}